* {
    font-family: Helvetica, sans-serif;
}
body {
    background-color: #F5F2E8;
}

.container {
    width: 95%;
    margin: auto;
    margin-bottom: 50px;
    /* box-shadow: -6px 8px 5px -4px rgba(0,0,0,0.52); */
}
.beerName {
    font-size: 2rem;
    font-weight: 400;
    /* font-family: sans-serif; */
}

.breweryName {
    position: relative;
    margin-bottom: 10px;
    display: inline-block;
}

.beerType {
    margin: 0px;
}

.box {
    border: 1px solid #AEAEAE;
    padding: 10px 50px;
    color: #AEAEAE;
    margin: 5px 0px;
    white-space: nowrap;
}
.flex {
    display: flex;
    /* align-items: center; */
    /* justify-content: space-evenly; */
}

.gray {
    /* color: #AEAEAE */
    color: #888;
}

.section {
    background-color: white;
    padding: 20px;
    /* box-shadow: -6px 8px 5px -4px rgba(0,0,0,0.52); */
    box-shadow: -4px 4px 5px -4px rgba(0,0,0,0.52);
}

.section>div:last-child {
    border-bottom: none;
}

.beerBox {
    margin: 20px 0px;
    
}

.beerImage {
    height: 100px;
    /* margin-top: -20px; */
}

.beerType {
    color:  #AEAEAE;
    margin-top: 5px;
    margin-bottom: 5px;
}