.beerSearchBrew, .brewSearchLocation {
    font-size: 1rem;
    margin: 5px 0px;
}

.beerSearchType, .brewSearchType {
    font-size: .9rem;
}

.search-image {
    height: 50px;
    align-self: flex-start;
    /* margin-top: -20px; */
}

.bb {
    border-bottom: thin solid #888888;
}