p {
    font-size: 1.2rem;
}
.link {
    color: #c60;
    font-family: sans-serif;
}

.link:hover {
    cursor: pointer;
    color: #FFA851;
}

.checkinContainer {
    margin: 20px 0px;
    padding: 20px 0px;
    border-bottom: 1px solid grey;
    
}