form {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 500px;
    width: 100%;
}
form > input {
    padding: 10px;
    margin: 10px 10px;
    font-size: 1.5rem;
}


.max500 {
    width: 500px;
    margin: auto;
}

.text-center {
    text-align: center;
}

.signup-button:hover {
    background-color: #FFCC00;
    color: black
}