.brewHeader {
    font-size: 2rem;
    font-weight: 400;
    font-family: Helvetica, sans-serif;
}
.brewLocation {
    margin: 5px 2px;
    font-size: 1.5rem;
}

.brewType {
    margin: 5px 2px;
    font-size: 1rem;
}

.brewDescription {
    margin-top: 20px;
    margin-left: 2px;
    font-weight: 100;
}

.brewImage {
    height: 100px;
    width: auto;

}
.brewImageDiv {
    /* align-self: flex-start; */
    justify-self: flex-start;
}

.flex-between {
    display: flex;
    justify-content: space-between;

}